@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    
}

.login body{
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 8px;
    
}

.container-login h1{
    color: black;

}

.container-login p{
    color: gray;
}

.container-login p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.caixa{
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px ;
    text-indent: 10px;
    outline: 0;

}

.btn{
    margin-top: 10px;
    color: white;
    background-color: black;
    padding: 10px 75px; 
    border: none;
}

.btn:hover{
    background-color: gray;
    color: black;
    transition: 0.2s;
}