body {
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-home {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.sub-home {
    font-size: 18px;
    margin-bottom: 15px;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.edit, .delete{
    color: gray;
    cursor: pointer;
    font-size: 20px;
}

.edit:hover, .delete:hover{
    color: white;
    cursor: pointer;    
    font-size: 20px;
}


.ni, .nome {
    flex: 1;
    text-align: start;
    padding-left: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
}

.btn1, .btn2 {
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover, .btn2:hover {
    background-color: #ddd;
}

.pesquisar input {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
}